<div class="card">
	<div class="card-body">
    <ngb-tabset type="pills">
  <ngb-tab title="Create user">
    <ng-template ngbTabContent>
    <div class = "tab-form">
    <form>
      <div class="form-group">
        <input type="text" class="form-control" required placeholder="First name">
      </div>
      <div class="form-group">
        <input type="text" class="form-control"  placeholder="Last name">
      </div>
            <div class="form-group">
        <input type="text" class="form-control"  placeholder="Username">
      </div>
            <div class="form-group">
        <input type="password" class="form-control"  placeholder="Password">
      </div>
            <div class="form-group">
        <input type="password" class="form-control"  placeholder="Confirm password">
      </div>
            <div class="form-group">
        <input type="text" class="form-control"  placeholder="Email">
      </div>
            <div class="form-group">
        <input type="text" class="form-control"  placeholder="Date of birth">
      </div>
      <div class="empty">

      </div>
      <div class = "buttonSpace">
      <button type="submit" class="btn">Register</button>
      </div>
    </form>
    </div>    
    </ng-template>
  </ngb-tab>
  <ngb-tab title="All users">
    <ng-template ngbTabContent>
      <div class ="tab-form">
        <form>
      <div class="form-group search">
        <input type="text" class="form-control search-field" size="100" required placeholder="Search">
      </div>
        <div class="form-group search">
        <button class="btn search">Search</button>
      </div>
        </form>
        <ul class="list-group">
          <li class="list-group-item">
              <app-user-data></app-user-data>
          </li>
        </ul>
      </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Create role">
    <ng-template ngbTabContent>
        <div class = "tab-form">
            <form>
              <div class="form-group">
                <input type="text" class="form-control" required placeholder="Type">
              </div>
              <div class="form-group">
              <textarea rows="4"class="form-control" placeholder="Description"></textarea>
              </div>
              <div class="empty">
              </div>
              <div class = "buttonSpace">
              <button type="submit" class="btn">Add role</button>
              </div>
            </form>
            </div>
      </ng-template>
  </ngb-tab>
    <ngb-tab title="All roles">
    <ng-template ngbTabContent>
        <div class ="tab-form">
            <form>
          <div class="form-group search">
            <input type="text" class="form-control search-field" size="100" required placeholder="Search">
          </div>
            <div class="form-group search">
            <button class="btn search">Search</button>
          </div>
            </form>
            <ul class="list-group">
              <li class="list-group-item">
                  <app-role-data></app-role-data>
              </li>
            </ul>
          </div>
    
      </ng-template>
  </ngb-tab>
</ngb-tabset>
	</div>
</div>