<div class="card">
	<div class="card-body">
    <ngb-tabset type="pills">
  <ngb-tab title="Create user">
    <ng-template ngbTabContent>
    <div class = "tab-form">
    <form>
      <div class="form-group">
        <input type="text" class="form-control" required placeholder="First name">
      </div>
      <div class="form-group">
        <input type="password" class="form-control"  placeholder="Last name">
      </div>
            <div class="form-group">
        <input type="password" class="form-control"  placeholder="Username">
      </div>
            <div class="form-group">
        <input type="password" class="form-control"  placeholder="Password">
      </div>
            <div class="form-group">
        <input type="password" class="form-control"  placeholder="Confirm password">
      </div>
            <div class="form-group">
        <input type="password" class="form-control"  placeholder="Email">
      </div>
            <div class="form-group">
        <input type="password" class="form-control"  placeholder="Date of birth">
      </div>
      <div class="empty">

      </div>
      <div class = "buttonSpace">
      <button type="submit" class="btn">Register</button>
      </div>
    </form>
    </div>    
    </ng-template>
  </ngb-tab>
  <ngb-tab title="All users">
    <ng-template ngbTabContent>
      <div class ="tab-form">
        <form>
      <div class="form-group search">
        <input type="text" class="form-control search-field" size="100" required placeholder="Search">
      </div>
        <div class="form-group search">
        <button class="btn search">Search</button>
      </div>
        </form>
        <!--ovdje ide listview-->
      </div>

    </ng-template>
  </ngb-tab>
  <ngb-tab title="Create role">
    <ng-template ngbTabContent>
      <p>Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla facilisi. Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu, congue et odio. Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices et. Sed diam urna, egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus faucibus nisl enim, nec tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem aliquet ultricies in eget neque. Phasellus nec tortor vel tellus pulvinar feugiat.</p>
    </ng-template>
  </ngb-tab>
    <ngb-tab title="All roles">
    <ng-template ngbTabContent>
      <p>Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla facilisi. Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu, congue et odio. Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices et. Sed diam urna, egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus faucibus nisl enim, nec tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem aliquet ultricies in eget neque. Phasellus nec tortor vel tellus pulvinar feugiat.</p>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
	</div>
</div>