<div class="card">
    <div class="card-body">
        <ngb-tabset type="pills">
            <ngb-tab title="Create destination">
                <ng-template ngbTabContent>
                    <div class="tab-form">
                        <button type="button" class="btn btnCollapse"
                                (click)="isCountryCollapsed=!isCountryCollapsed; isRegionCollapsed=true;isCityCollapsed=true;isDestinationCollapsed=true">
                            Country
                        </button>
                        <div class="empty"></div>
                        <form (ngSubmit)="submitCountry($event)" [ngbCollapse]="isCountryCollapsed">
                            <div class="form-group" style="margin-left: 8%;margin-right: 8%">
                                <input type="text" class="form-control" required placeholder="Name" name="name">
                            </div>
                            <div class="buttonSpace" style="margin-left: 8%;margin-right: 8%">
                                <button type="submit" class="btn">Create</button>
                            </div>
                        </form>


                        <div class="empty"></div>
                        <button type="button" class="btn btnCollapse"
                                (click)="isRegionCollapsed=!isRegionCollapsed; isCountryCollapsed =true;isCityCollapsed=true;isDestinationCollapsed=true">
                            Region
                        </button>
                        <div class="empty"></div>
                        <form (ngSubmit)="submitRegion($event)" [ngbCollapse]="isRegionCollapsed">
                            <div class="form-group" style="margin-left: 8%;margin-right: 8%">
                                <input type="text" class="form-control" required placeholder="Name" name="name">
                            </div>
                            <div class="form-group" style="margin-left: 8%;margin-right: 8%">
                                <select class="form-control" (ngModelChange)="setCountry($event)"
                                        [(ngModel)]="selectedCountry" [ngModelOptions]="{standalone: true}">
                                    <option *ngFor="let country of countries"
                                            [(ngValue)]="country">{{country.name}}</option>
                                </select>
                            </div>
                            <div class="buttonSpace" style="margin-left: 8%;margin-right: 8%">
                                <button type="submit" class="btn">Create</button>
                            </div>
                        </form>


                        <div class="empty"></div>
                        <button type="button" class="btn btnCollapse"
                                (click)="isCityCollapsed=!isCityCollapsed; isCountryCollapsed =true;isRegionCollapsed=true;isDestinationCollapsed=true;">
                            City
                        </button>
                        <div class="empty"></div>
                        <form (ngSubmit)="submitCity($event)" [ngbCollapse]="isCityCollapsed">
                            <div class="form-group" style="margin-left: 8%;margin-right: 8%">
                                <input type="text" class="form-control" required placeholder="Name" name="name">
                            </div>
                            <div class="form-group" style="margin-left: 8%;margin-right: 8%">
                                <select class="form-control" (ngModelChange)="setRegion($event)"
                                        [(ngModel)]="selectedRegion" [ngModelOptions]="{standalone: true}">
                                    <option *ngFor="let region of regions" [(ngValue)]="region">{{region.name}}</option>
                                </select>
                            </div>
                            <div class="buttonSpace" style="margin-left: 8%;margin-right: 8%">
                                <button type="submit" class="btn">Create</button>
                            </div>
                        </form>


                        <div class="empty"></div>
                        <button type="button" class="btn btnCollapse"
                                (click)="isDestinationCollapsed=!isDestinationCollapsed; isCountryCollapsed =true;isRegionCollapsed=true;isCityCollapsed=true;">
                            Destination
                        </button>
                        <div class="empty"></div>
                        <form (ngSubmit)="submitDestination($event)" [ngbCollapse]="isDestinationCollapsed">
                            <div class="form-group" style="margin-left: 8%;margin-right: 8%">
                                <input type="text" class="form-control" required placeholder="Name" name="name">
                            </div>
                            <div class="form-group" style="margin-left: 8%;margin-right: 8%">
                                <select class="form-control" (ngModelChange)="setCity($event)"
                                        [(ngModel)]="selectedCity" [ngModelOptions]="{standalone: true}">
                                    <option *ngFor="let city of cities" [(ngValue)]="city">{{city.name}}</option>
                                </select>
                            </div>
                            <div class="buttonSpace" style="margin-left: 8%;margin-right: 8%">
                                <button type="submit" class="btn">Create</button>
                            </div>
                        </form>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="All destinations">
                <ng-template ngbTabContent>
                    <div class="tab-form">
                        <form>
                        </form>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <app-location-data *ngFor="let destination of destinations" [destination]="destination"
                                                   (onDeleted)="onDeletedDest($event)"></app-location-data>
                            </li>
                        </ul>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Create transportation">
                <ng-template ngbTabContent>
                    <div class="tab-form">
                        <button type="button" class="btn btnCollapse"
                                (click)="isTransportationTypeCollapsed=!isTransportationTypeCollapsed; isTransportCollapsed=true;">
                            Transportation type
                        </button>
                        <div class="empty"></div>
                        <form (ngSubmit)="submitTransportationType($event)" [ngbCollapse]="isTransportationTypeCollapsed">
                            <div class="form-group" style="margin-left: 8%;margin-right: 8%">
                                <input type="text" class="form-control" required placeholder="Name" name="name">
                            </div>
                            <div class="buttonSpace" style="margin-left: 8%;margin-right: 8%">
                                <button type="submit" class="btn">Add transportation type</button>
                            </div>
                        </form>


                        <div class="empty"></div>
                        <button type="button" class="btn btnCollapse"
                                (click)="isTransportCollapsed=!isTransportCollapsed; isTransportationTypeCollapsed =true;">
                            Transportation
                        </button>
                        <div class="empty"></div>
                        <form (ngSubmit)="submitTransportation($event)" [ngbCollapse]="isTransportCollapsed">
                            <div class="form-group" style="margin-left: 8%;margin-right: 8%">
                                <input type="text" class="form-control" required placeholder="Name" name="name">
                            </div>
                            <div class="form-group" style="margin-left: 8%;margin-right: 8%">
                                <select class="form-control" (ngModelChange)="setTransportType($event)"
                                        [(ngModel)]="selectedTransportType" [ngModelOptions]="{standalone: true}">
                                    <option *ngFor="let type of TransportTypeData"
                                            [(ngValue)]="type">{{type.name}}</option>
                                </select>
                            </div>
                            <div class="empty">
                            </div>
                            <div class="buttonSpace" style="margin-left: 8%;margin-right: 8%">
                                <button type="submit" class="btn">Add transportation</button>
                            </div>
                        </form>

                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="All transportation">
                <ng-template ngbTabContent>
                    <div class="tab-form">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <app-transport-data *ngFor="let transportation of TransportData"
                                               [transportation]="transportation"
                                               (onDeleted)="onDeleteTransport($event)"></app-transport-data>
                            </li>
                        </ul>
                    </div>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </div>
</div>